<li>
	<%= link_to truncate(question.body, length: 35), question %> by <%= question.user.username.capitalize %>

	<% if on_your_questions_page? %>
		<%= display_solved(question) %> - <%= link_to 'Edit', edit_question_path(question) %>
	<% end %>

	- (<%= pluralize(question.answers.count, 'answer') %>)
</li>